*{
    margin: 0;
    padding: 0;
}

.container{
    width: auto;
    margin: 0 auto;
    height:100%;
}

header{

}

header img,
header .menu-list ul li,
header .icon-image img,
header .icon-image p{
    display:inline-block;
}

header img{
    float: left;
    padding:10px;
    margin:10px 100px 10px 200px;
}

.menu-list ul li{
    list-style:none;
    text-align: right;
    padding: 5px;
    margin:40px 0px 40px 0px;
}

.menu-list ul li img{
    border-radius:50%;
}




.content1 {
    position:relative;
}

.content1 img{
    width:100%;
}

.content2{

}

.content2 img{
    width:100%;
    margin-bottom:-150px;
    margin-top:-50px;
    margin-left:-50px;

}

.content3{

}

.content3 img{
    width:100%;
    margin-bottom:-150px;
    margin-top:-50px;
    margin-right:-50px;

}


.content4{

}
.content4 img{
    width:100%;
}

footer {
    height:100px;
    background-color:#616363;
}
footer .footer p{
    padding:40px 300px 40px 300px;
}